html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
.container {
  display: flex;
  justify-content: center;
}
.box {
  /* background-color: aqua; */
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px #ffffff dashed;
  outline-offset: -30px;
  overflow: hidden;
  margin: 50px;
}
.img1,
.img3 {
  width: 90%;
  height: 90%;
  transition: all 0.5s ease-in;
}
.img2,
.img4 {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in;
}
.img1:hover,
.img2:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.img3:hover,
.img4:hover {
  transform: scale(1.5) rotate(20deg);
  -moz-transform: scale(1.5) rotate(20deg);
  -ms-transform: scale(1.5) rotate(20deg);
  -webkit-transform: scale(1.5) rotate(20deg);
  -o-transform: scale(1.5) rotate(20deg);
  /* transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg); */
}
