*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #1b3050;
  background: #f9f0d0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
  outline: none;
}

a:hover,
a:focus {
  color: #fff;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

/* Header */
.codrops-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3em 0 8em;
  text-align: center;
  background: white;
  margin: 0 auto;
}

header .icon-move {
  color: rgb(0, 0, 0, 0.3);
  padding: 0 0.5em 2em;
}
header .icon-move:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 1);
}

header .slash {
  font-size: 3em;
}

.codrops-header a:hover,
.codrops-header a:focus {
  color: #333;
}

.codrops-header__pretitle {
  display: block;
  font-size: 1.8em;
}

.codrops-header__title {
  font-size: 2.75em;
  font-weight: normal;
  position: relative;
  margin: 0;
  color: #333;
}

.github-icon {
  fill: #333;
  color: white;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Content */
.content {
  padding: 3em 0;
}

.section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  padding: 10% 0;
}

/* Related demos */
.content--related {
  font-weight: bold;
  padding: 10em 1em;
  text-align: center;
  background: #333;
  color: #fff;
}

.content__wrap--related {
  max-width: 800px;
  margin: 0 auto;
}

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.media-item__img {
  max-width: 100%;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}

.media-item__title {
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
}

/* Individual section colors */

.section#Icon-1 {
  background: #00008b;
  color: white;
}

.section#Icon-2 {
  background: #593c1f;
  color: white;
}

.section#Icon-3 {
  background: #666;
  color: white;
}
.section#Icon-4 {
  background: #50c878;
  color: white;
}

@media screen and (max-width: 50em) {
  .link-copy {
    display: none;
  }
  .codrops-header {
    font-size: 0.85em;
  }
  .section.section--intro {
    font-size: 1em;
  }
  .section--nav {
    padding: 4em 0;
  }
  .section--nav::before {
    content: attr(id);
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .mockup-slider {
    display: none;
  }
  .nav {
    -webkit-flex: none;
    flex: none;
    margin: 0 auto;
  }
  .nav.nav--berta {
    width: 100%;
  }
}
