body {
    padding: 50px;
}

.box1 {
    background-color: pink;
    height: 200px;
    width: 200px;
    transition: all 1s ease-in-out;
}

.box1:hover {
    background-color: aqua;
    height: 300px;
}

.box2 {
    background-color: pink;
    height: 200px;
    width: 200px;
    transition: all 1s ease-in-out;
}

.box2:hover {
    background-color: aqua;
    width: 300px;
}

.trigger {
    height: 200px;
    width: 200px;
    border: 2px solid grey;
}

.box3 {
    background-color: royalblue;
    height: 200px;
    width: 200px;
    position: relative;
    transition: all 1s ease;
}

.trigger:hover .box3 {
    transform: rotate(20deg);
    left: 200px;
    top: 200px
}